<%- include("../../layouts/head.ejs") %>
<%- include("../../layouts/header.ejs") %>

<h2>Create New Category</h2>

<%- include("_form.ejs") %>

<div>
    <a href="/admin/categories">Back to Categories</a>
</div>

<%- include("../../layouts/footer.ejs") %>
