<%- include("layouts/head.ejs") %>
<%- include("layouts/header.ejs") %>
<% if (user) { %>
    <a href="/admin/questions">Click this link to view/change Questions.</a>
    <a href="/admin/categories">Click this link to view/change Categories.</a>
<% } else { %>
    <a href="/auth/logon">Click this link to logon.</a>
    <a href="/auth/register">Click this link to register.</a>
<% } %>
<%- include("layouts/footer.ejs") %>
