<%- include("../../layouts/head.ejs") %>
<%- include("../../layouts/header.ejs") %>

<h2>Create New Difficulty</h2>

<%- include("_form.ejs") %>

<div>
    <a href="/admin/difficulties">Back to Difficulties</a>
</div>

<%- include("../../layouts/footer.ejs") %>
