<%- include("../layouts/head.ejs", {title: "Internal Server Error"}) %>
<%- include("../layouts/header.ejs") %>
<h1>500: Internal Server Error</h1>
<p>Looks like something blew up!</p>
<%- include("../layouts/footer.ejs") %>