<%- include("../../layouts/head.ejs") %>
<%- include("../../layouts/header.ejs") %>

<form method="POST" action="/auth/logon">
    <div class="fields">
        <label for="email">Email</label>
        <input id="email" type="email" name="email"/>
    </div>
    <div class="fields">
        <label for="password">Password</label>
        <input id="password" type="password" name="password"/>
    </div>
    <input type="hidden" name="_csrf" value="<%= _csrf %>">
    <div>
        <button>Submit</button>
    </div>
    <div>
        Do not have account?
        <a href="/auth/register">
            <button type="button">Register</button>
        </a>
    </div>
</form>

<%- include("../../layouts/footer.ejs") %>
