<%- include("../../layouts/head.ejs") %>
<%- include("../../layouts/header.ejs") %>
<main class="container mx-auto flex flex-col items-center justify-center h-[calc(100vh-40px)]">
    <h1 class="text-2xl text-center text-indigo-700 font-bold mt-8 mb-6">Register</h1>
    <form method="POST" action="/auth/register" class="max-w-[400px] mx-auto mt-8 w-full">
        <div class="flex flex-col mb-2 text-sm">
            <label name="username">Username</label>
            <input name="username" class="text-indigo-900 border p-2 border-neutral-400 rounded-md"/>
        </div>
        <div class="flex flex-col mb-2 text-sm">
            <label name="email">Email</label>
            <input name="email" class="text-indigo-900 border p-2 border-neutral-400 rounded-md "/>
        </div>
        <div class="flex flex-col mb-2 text-sm">
            <label name="password">Password</label>
            <input type="password" name="password" class="text-indigo-900 border p-2 border-neutral-400 rounded-md "/>
        </div>
        <div class="flex flex-col mb-2 text-sm">
            <label name="password1">Repeat password</label>
            <input type="password" name="password1" class="text-indigo-900 border p-2 border-neutral-400 rounded-md "/>
        </div>
        <input type="hidden" name="_csrf" value="<%= _csrf %>">
        <button class="px-8 py-2 block rounded-md bg-indigo-700 text-white text-base  mx-auto shadow-md hover:shadow-lg hover:bg-indigo-800">
            Submit
        </button>
        <div class="mt-4 text-base text-right">
            Already registered?
            <a href="/auth/logon" class="underline underline-offset-4 text-indigo-700">
                Login
            </a>
        </div>
    </form>
</main>
<%- include("../../layouts/footer.ejs") %>
